.searchBlock {
  position: relative;
  .searchSvg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
  }
  .resetSearchSvg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 10px;
    cursor: pointer;
  }
  .input {
    outline: 2px solid #e7e7e7;
    border: none;
    padding: 10px 5px 10px 45px;
    font-size: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
    &:focus {
      box-shadow: 0.5px 0.5px 30px 0.1px #b5b5b5;
    }
  }
}
