.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .container {
    width: 150px;
    height: 150px;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
    background: rgb(235, 170, 48);
    background: linear-gradient(
      36deg,
      rgba(235, 170, 48, 1) 0%,
      rgba(255, 101, 81, 1) 100%
    );
    border-radius: 50px;
  }

  .item {
    background: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: grab;
  }

  .down {
    background: white;
    border-radius: 5%;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    cursor: grab;
  }
  p {
    margin-top: 15px;
    font-weight: normal;
    font-size: 22px;
    color: rgb(161, 161, 161);
  }
}
